<div class='form-container'>
    <%= form_with model: recipe, url: user_recipes_path, scope: :recipe, class: 'form' do |form| %>
     <% if recipe.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
            <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: 'Enter recipe name'%>
  </div>

  <div>
    <%= form.label :preparation_time, style: "display: block" %>
    <%= form.text_field :preparation_time , placeholder: 'Enter Preparation time (e.g 1 hour)' %>
  </div>

  <div>
    <%= form.label :cooking_time, style: "display: block" %>
    <%= form.text_field :cooking_time, placeholder: 'Enter cooking time (e.g 1 hour)' %>
  </div>
    <%= form.hidden_field :public, value: 'false' %>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, cols: 30, rows: 10, placeholder: 'Write recipe description' %>
  </div>
  <div>
    <%= form.submit "Create Recipe", class: "recipe-btn" %>
  </div>
<% end %>

</div>