<div class="new-form">
  <div class="form-container">
		<%= form_with :model => @recipe_food, url: recipe_recipe_foods_path, method: :post do |f| %>
			<%= f.label :quantity, class: "form-label"%>
			<%= f.number_field :quantity, placeholder: "eg: 20", class: "form-control" %>

			<%= f.select :food_id, @foods.map{ |food| [food.name, food.id] } %>
			<br>

			<%= f.submit "Add", class: "btn btn-secondary", data: { turbo: false } %>
		<%end%>
</div>
</div>